<div class="section">
  <div>

    <div class="container">
      <h2>DESTINATIONS</h2>
      <p>
        Etiam hendrerit, sem ut vehicula tempor, arcu ex vehicula magna, ac semper leo nulla quis leo. Aenean quis lacus erat. Etiam
        libero ipsum, posuere eget lectus in, viverra rhoncus nisl. Nunc sit amet convallis leo. Aenean sit amet lobortis
        sapien, non porttitor sapien. Donec orci leo, dignissim a ipsum in, malesuada euismod nulla. Curabitur pellentesque
        tempus sagittis. Sed ligula velit, pellentesque ac pulvinar nec, placerat id nunc. Ut accumsan sem sem, eget commodo
        nisi laoreet vitae. Maecenas pharetra sem non diam venenatis, at commodo quam bibendum.
      </p>
      <p>
        Ut vel massa gravida, tristique ipsum eget, euismod ligula. Proin sollicitudin at tortor sit amet mollis. Nunc dui risus,
        fringilla vitae molestie nec, congue a leo. Nunc convallis, est sed aliquam venenatis, mi odio sodales nibh, vitae
        dapibus tortor eros ac eros. Aliquam interdum mollis est, eget posuere nulla. Etiam ut dignissim ipsum. Mauris est
        lacus, scelerisque interdum orci at, imperdiet mollis ex. Sed elementum laoreet arcu, at dignissim augue faucibus
        non. Nulla facilisi. Curabitur posuere cursus tincidunt.
      </p>
      <p>
        Aenean malesuada nisl id elementum fermentum. Donec placerat, velit eu consequat consequat, purus justo faucibus nunc, quis
        sodales turpis sem aliquam augue. Aenean bibendum mauris et metus eleifend varius. In viverra laoreet metus, sed
        egestas arcu malesuada sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in vestibulum tellus,
        non consectetur risus. Sed bibendum dui eu orci fermentum bibendum. Maecenas rhoncus velit diam, in finibus purus
        efficitur et. Donec id arcu id tellus vulputate viverra. Duis quis bibendum orci, non tempor orci. Suspendisse pharetra
        facilisis erat vel fringilla. Sed ultricies augue et egestas semper. Mauris mollis efficitur turpis, id bibendum
        mi venenatis maximus. Integer ac neque et nunc elementum consequat sed a massa.
      </p>
      <p>
        Etiam hendrerit, sem ut vehicula tempor, arcu ex vehicula magna, ac semper leo nulla quis leo. Aenean quis lacus erat. Etiam
        libero ipsum, posuere eget lectus in, viverra rhoncus nisl. Nunc sit amet convallis leo. Aenean sit amet lobortis
        sapien, non porttitor sapien. Donec orci leo, dignissim a ipsum in, malesuada euismod nulla. Curabitur pellentesque
        tempus sagittis. Sed ligula velit, pellentesque ac pulvinar nec, placerat id nunc. Ut accumsan sem sem, eget commodo
        nisi laoreet vitae. Maecenas pharetra sem non diam venenatis, at commodo quam bibendum.
      </p>
      <p>
        Ut vel massa gravida, tristique ipsum eget, euismod ligula. Proin sollicitudin at tortor sit amet mollis. Nunc dui risus,
        fringilla vitae molestie nec, congue a leo. Nunc convallis, est sed aliquam venenatis, mi odio sodales nibh, vitae
        dapibus tortor eros ac eros. Aliquam interdum mollis est, eget posuere nulla. Etiam ut dignissim ipsum. Mauris est
        lacus, scelerisque interdum orci at, imperdiet mollis ex. Sed elementum laoreet arcu, at dignissim augue faucibus
        non. Nulla facilisi. Curabitur posuere cursus tincidunt.
      </p>
      <p>
        Aenean malesuada nisl id elementum fermentum. Donec placerat, velit eu consequat consequat, purus justo faucibus nunc, quis
        sodales turpis sem aliquam augue. Aenean bibendum mauris et metus eleifend varius. In viverra laoreet metus, sed
        egestas arcu malesuada sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in vestibulum tellus,
        non consectetur risus. Sed bibendum dui eu orci fermentum bibendum. Maecenas rhoncus velit diam, in finibus purus
        efficitur et. Donec id arcu id tellus vulputate viverra. Duis quis bibendum orci, non tempor orci. Suspendisse pharetra
        facilisis erat vel fringilla. Sed ultricies augue et egestas semper. Mauris mollis efficitur turpis, id bibendum
        mi venenatis maximus. Integer ac neque et nunc elementum consequat sed a massa.
      </p>
    </div>

  </div>
</div>