<!--img id="home" src="/src/assets/images/header.png"/-->
<div id="home" class="container">
    <div class="container">
        <img id="logo" src="/src/assets/images/logo/oasis_logo_oldskul_white.png" />
      </div>
      <div class="container some-good-text">
        <h3>Est. February 14, 2017, at the <b>Philippines</b></h3>
        <br/>
        <h4><p>We at OasisPH Travel are here to help and assist you in any way to achieve you dream vacation here in the PH!</p>
        </h4>
        </div>
</div>
