#home {
    background: linear-gradient(to bottom right, rgba(44, 50, 49, 0.30), rgba(0, 0, 0, 0.8)), url(/src/assets/images/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    min-height: 600px;
    max-height: 800px;
    width: 100%;
    opacity: 1;
    display: block;
    transition: opacity 0.6s ease;
    z-index: 1;
    float: right;    
}


#logo {
    height: 250px;
    margin-top: 80px !important;
    margin: auto;
    display: block
    
}

.some-good-text {
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
    color: antiquewhite
}

/*#home {
   
    height: 100%;
    min-height: 300px;
    max-height: 800px;
    width: 100%;
    opacity: 1;
    display: block;
    transition: opacity 0.6s ease;
    z-index: 1;
    float: right;
    background: linear-gradient(to bottom, #000000 0%, rgba(0,0,0,0) 100%);
}*/

h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: aquamarine;
}







